.board {
   
    display:grid;
    flex-direction:column-reverse;
    align-items: justify-content;
    margin-top: 10px;
}


/* .square {
    width: 100px;
    height: 100px;
    border: 1px solid rgb(251, 221, 0);
    display:inline-table;
    justify-content: center;
    align-items: center;
    font-size: 36px;
} */
