.signUp-container {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  
  .signUp-label {
    display: block;
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  .signUp-input {
    width: 300px;
    height: 30px;
    padding: auto;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signUp-button {
    width: 300px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .signUp-button:hover {
    background-color: #0056b3;
  }
  